body {
  margin: 0;
  padding: 0;
  background-image: url('https://as1.ftcdn.net/v2/jpg/09/33/82/18/1000_F_933821837_tbN3eEHgSA0ndjZ9Ayk6xYgFipIn2FZo.jpg');
  background-size: cover;
  position: relative;
}

